In [17]:
import pandas as pd
from bs4 import BeautifulSoup as bs 
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

#### Website Nav, Header, Features, etc.

In [ ]:
header_tab_title = 'News - Mars Exploration Program'

#### New's INFO

In [2]:
Virginia_Middle_School_img = "https://mars.nasa.gov/system/news_items/list_view_images/8622_1-PIA23764-RoverNamePlateonMars-320x240.jpg"

Virginia_Middle_School_title = "Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover"

Virginia_Middle_School_body = 'NASA chose a seventh-grader from Virginia as winner of the agency\'s "Name the Rover" essay contest. Alexander Mather\'s entry for "Perseverance" was voted tops among 28,000 entries.'

##### Featured Image and Reference

In [2]:
news_title =  "Mars Is Getting a New Robotic Meteorologist"

news_p = "Sensors on NASA\'s Perseverance will help prepare for future human exploration by taking weather measurements and studying dust particles."

In [ ]:

featured_image_url = 'https://spaceimages-mars.com/image/featured/mars1.jpg'

##### Mar's and Earth Comparison Table

In [3]:
url = 'https://galaxyfacts-mars.com/'

In [4]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
type(tables)

list

In [6]:
mars_info_df = tables[0]
mars_info_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [7]:
# BRING ROW 0 AS OUR HEADER AND RESET ITS INDEX
mars_info_df.columns = mars_info_df.iloc[0]

mars_info_df = mars_info_df.iloc[1:].reset_index(drop=True)

mars_info_df.head()

0 Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days

In [8]:
# CONVERT DATA FRAME INTO HTML
mars_info_table_html = mars_info_df.to_html()
print(mars_info_table_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars - Earth Comparison</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [9]:
# You may have to strip unwanted newlines to clean up the table.
mars_info_table_html.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars - Earth Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>1</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>2</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>3</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>4</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>5</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [10]:
# You can also save the table directly to a file.
mars_info_df.to_html('mars_info_table.html')

In [11]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open mars_info_table.html

'open' is not recognized as an internal or external command,
operable program or batch file.

#### Mars Hemispheres

In [12]:
hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere Enhanced", "img_url": "https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg"},
    {"title": "Schiaparelli Hemisphere Enhanced", "img_url": "https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg"},
    {"title": "Syrtis Major Hemisphere Enhanced", "img_url": "https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg"},
    {"title": "Valles Marineris Hemisphere Enhanced", "img_url": "https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg"},
]

#### SOUP and Scrape

##### Mars Info Table Html Scrape

In [13]:
filepath = os.path.join("mars_info_table.html")
with open(filepath, encoding='utf-8') as file:
    html = file.read()

In [15]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(html, 'html.parser')

In [16]:
soup

<table border="1" class="dataframe">
<thead>
<tr style="text-align: right;">
<th></th>
<th>Mars - Earth Comparison</th>
<th>Mars</th>
<th>Earth</th>
</tr>
</thead>
<tbody>
<tr>
<th>0</th>
<td>Diameter:</td>
<td>6,779 km</td>
<td>12,742 km</td>
</tr>
<tr>
<th>1</th>
<td>Mass:</td>
<td>6.39 × 10^23 kg</td>
<td>5.97 × 10^24 kg</td>
</tr>
<tr>
<th>2</th>
<td>Moons:</td>
<td>2</td>
<td>1</td>
</tr>
<tr>
<th>3</th>
<td>Distance from Sun:</td>
<td>227,943,824 km</td>
<td>149,598,262 km</td>
</tr>
<tr>
<th>4</th>
<td>Length of Year:</td>
<td>687 Earth days</td>
<td>365.24 days</td>
</tr>
<tr>
<th>5</th>
<td>Temperature:</td>
<td>-87 to -5 °C</td>
<td>-88 to 58°C</td>
</tr>
</tbody>
</table>

In [ ]:
# Examine the results and look for a div withe the class 'top-matter'
results = soup.find_all('div', class_='top-matter')

#### Scrape Run

##### Most Recent Mars Info

In [38]:
from splinter import Browser
from bs4 import BeautifulSoup  as bs
from webdriver_manager.chrome import ChromeDriverManager

# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

mars_lattest_news = {}
url = "https://redplanetscience.com/"
browser.visit(url)

html = browser.html
soup = bs(html, "html.parser")

mars_lattest_news["news_title"] = soup.find("div", class_="content_title").get_text()
mars_lattest_news["news_p"] = soup.find("div", class_="article_teaser_body").get_text()
mars_lattest_news["news_date"] = soup.find("div", class_="list_date").get_text()

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\sroiz\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [39]:
mars_lattest_news

{'news_title': "Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover",
 'news_p': 'NASA chose a seventh-grader from Virginia as winner of the agency\'s "Name the Rover" essay contest. Alexander Mather\'s entry for "Perseverance" was voted tops among 28,000 entries. ',
 'news_date': 'February 2, 2022'}

##### Featured Image

In [64]:
from splinter import Browser
from bs4 import BeautifulSoup  as bs
from webdriver_manager.chrome import ChromeDriverManager

# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

featured_img_url = "https://spaceimages-mars.com/"
browser.visit(featured_img_url)

html = browser.html
soup = bs(html, "html.parser")

relative_image_path = soup.find_all('img')[1]['src']
feature_image = featured_img_url + relative_image_path

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\sroiz\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [65]:
feature_image

'https://spaceimages-mars.com/image/featured/mars1.jpg'

#### Mars high resolution images for each of Mar's hemispheres

In [78]:
from splinter import Browser
from bs4 import BeautifulSoup  as bs
from webdriver_manager.chrome import ChromeDriverManager

# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

mars_hemisphere_url = "https://marshemispheres.com/"
browser.visit(mars_hemisphere_url)

html = browser.html
soup = bs(html, "html.parser")

first_title = soup.find_all("h3")[0].get_text()
second_title = soup.find_all("h3")[1].get_text()
third_title = soup.find_all("h3")[2].get_text()
fourth_title = soup.find_all("h3")[3].get_text()

image_link = soup.find_all('img', class_="thumb")[0]['src']
first_img = mars_hemisphere_url + image_link

image_link = soup.find_all('img', class_="thumb")[1]['src']
second_img = mars_hemisphere_url + image_link

image_link = soup.find_all('img', class_="thumb")[2]['src']
third_img = mars_hemisphere_url + image_link

image_link = soup.find_all('img', class_="thumb")[3]['src']
fourth_img = mars_hemisphere_url + image_link

hemisphere_image_urls = [
    {"title": first_title, "img_url": first_img},
    {"title": second_title, "img_url": second_img},
    {"title": third_title, "img_url": third_img},
    {"title": fourth_title, "img_url":fourth_img},
]

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\sroiz\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [79]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]